In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("vehicles_messy.csv", low_memory = False)

In [3]:
df.head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [4]:
df.describe() # brings the count, mean

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UCity,UCityA,UHighway,UHighwayA,year,youSaveSpend,charge240b,phevCity,phevHwy,phevComb
count,37843.000000,37843.000000,37843.0,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,...,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000
mean,17.532506,0.216169,0.0,0.023531,17.941389,4.042737,0.520149,0.327163,0.000406,0.184790,...,22.587229,0.652380,33.619221,0.933845,2000.064398,-2658.999022,0.004360,0.069313,0.068203,0.068573
std,4.575950,1.141527,0.0,0.427647,6.660360,9.645820,3.837874,3.542596,0.039918,2.904558,...,9.350163,5.284547,10.048326,6.059456,10.390588,2553.098329,0.142776,1.966806,1.871986,1.913647
min,0.060000,0.000000,0.0,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1984.000000,-22250.000000,0.000000,0.000000,0.000000,0.000000
25%,14.330870,0.000000,0.0,0.000000,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,18.000000,0.000000,27.100000,0.000000,1990.000000,-4250.000000,0.000000,0.000000,0.000000,0.000000
50%,17.347895,0.000000,0.0,0.000000,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,21.000000,0.000000,33.000000,0.000000,2001.000000,-2500.000000,0.000000,0.000000,0.000000,0.000000
75%,20.600625,0.000000,0.0,0.000000,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,25.139300,0.000000,38.109600,0.000000,2009.000000,-750.000000,0.000000,0.000000,0.000000,0.000000
max,47.087143,18.311667,0.0,12.000000,138.000000,138.304000,127.000000,127.093000,5.350000,122.000000,...,197.577100,181.560900,159.100000,152.187800,2017.000000,4000.000000,7.000000,97.000000,79.000000,88.000000

## 1. Missing values
    aka. np.nan s

In [5]:
df.isnull()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,False,False,True,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,False,False,True,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37838,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,False,False,True,False,False,False
37839,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,False,False,True,False,False,False
37840,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,False,False,True,False,False,False
37841,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,False,False,True,False,False,False
37842,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,False,False,True,False,False,False

In [6]:
df.isnull().sum()

barrels08         0
barrelsA08        0
charge120         0
charge240         0
city08            0
              ...
modifiedOn        0
startStop     31705
phevCity          0
phevHwy           0
phevComb          0
Length: 83, dtype: int64

In [7]:
df.isnull().sum(axis=1)

0        12
1        11
2        11
3        13
4        11
         ..
37838    11
37839    12
37840    11
37841    12
37842    10
Length: 37843, dtype: int64

In [8]:
null_cols = df.isnull().sum()
null_cols[null_cols > 0]      # important, because have values

cylinders       123
displ           120
drive          1189
eng_dscr      15403
trany            11
guzzler       35562
trans_dscr    22796
tCharger      32657
sCharger      37177
atvType       34771
fuelType2     36435
rangeA        36440
evMotor       37281
mfrCode       30818
c240Dscr      37806
c240bDscr     37807
startStop     31705
dtype: int64

In [9]:
# Show me the rows of the cylinders column that are NaN
df[["cylinders"]][df["cylinders"].isnull()].head()

      cylinders
7138        NaN
7139        NaN
8143        NaN
8144        NaN
8146        NaN

In [10]:
null_cols[null_cols > 0] / len(df)  # % of the values missing

cylinders     0.003250
displ         0.003171
drive         0.031419
eng_dscr      0.407024
trany         0.000291
guzzler       0.939725
trans_dscr    0.602384
tCharger      0.862960
sCharger      0.982401
atvType       0.918823
fuelType2     0.962794
rangeA        0.962926
evMotor       0.985149
mfrCode       0.814365
c240Dscr      0.999022
c240bDscr     0.999049
startStop     0.837804
dtype: float64

After really thorough analysis, I concluded that columns with more than 30% values missing should be dropped

In [11]:
# get a list of columns, where relative frequency of NaNs > 30% 
null_perc = null_cols[null_cols > 0] / len(df)
to_drop = null_perc[null_perc > .3].index
to_drop

Index(['eng_dscr', 'guzzler', 'trans_dscr', 'tCharger', 'sCharger', 'atvType',
       'fuelType2', 'rangeA', 'evMotor', 'mfrCode', 'c240Dscr', 'c240bDscr',
       'startStop'],
      dtype='object')

In [12]:
df = df.drop(to_drop, axis = 1)

In [13]:
df.isnull().sum()[(df.isnull().sum()) > 0]

cylinders     123
displ         120
drive        1189
trany          11
dtype: int64

In [14]:
relevant_columns = ["year","make","model","trany","drive","fuelType","cylinders","displ"]
df[relevant_columns][df["displ"].isnull()]

,year,make,model,trany,drive,fuelType,cylinders,displ
7138,2000,Nissan,Altra EV,NaN,NaN,Electricity,NaN,NaN
7139,2000,Toyota,RAV4 EV,NaN,2-Wheel Drive,Electricity,NaN,NaN
8143,2001,Toyota,RAV4 EV,NaN,2-Wheel Drive,Electricity,NaN,NaN
8144,2001,Ford,Th!nk,NaN,NaN,Electricity,NaN,NaN
8146,2001,Ford,Explorer USPS Electric,NaN,2-Wheel Drive,Electricity,NaN,NaN
...,...,...,...,...,...,...,...,...
30969,2017,Kia,Soul Electric,Automatic (A1),Front-Wheel Drive,Electricity,NaN,NaN
30972,2016,Tesla,Model S (60 kW-hr battery pack),Automatic (A1),Rear-Wheel Drive,Electricity,NaN,NaN
30973,2016,Tesla,Model S AWD - 60D,Automatic (A1),All-Wheel Drive,Electricity,NaN,NaN
30974,2016,Tesla,Model S AWD - P100D,Automatic (A1),All-Wheel Drive,Electricity,NaN,NaN
30975,2016,Tesla,Model X AWD - 60D,Automatic (A1),All-Wheel Drive,Electricity,NaN,NaN

In [15]:
df["cylinders"][df["fuelType"] == "Electricity"].count()

0

In [16]:
df["fuelType"][df["cylinders"].isnull()].value_counts()   # value_counts() is only for Series

Electricity    120
Regular          3
Name: fuelType, dtype: int64

In [17]:
df[["fuelType","cylinders"]] = df[["fuelType","cylinders"]].fillna(0)

In [18]:
# Last validation, check for rows in which cylinders = 0 & displ != 0
df[(df["cylinders"] == 0) & (df["displ"] != 0)][relevant_columns]

,year,make,model,trany,drive,fuelType,cylinders,displ
7138,2000,Nissan,Altra EV,NaN,NaN,Electricity,0.0,NaN
7139,2000,Toyota,RAV4 EV,NaN,2-Wheel Drive,Electricity,0.0,NaN
8143,2001,Toyota,RAV4 EV,NaN,2-Wheel Drive,Electricity,0.0,NaN
8144,2001,Ford,Th!nk,NaN,NaN,Electricity,0.0,NaN
8146,2001,Ford,Explorer USPS Electric,NaN,2-Wheel Drive,Electricity,0.0,NaN
...,...,...,...,...,...,...,...,...
30969,2017,Kia,Soul Electric,Automatic (A1),Front-Wheel Drive,Electricity,0.0,NaN
30972,2016,Tesla,Model S (60 kW-hr battery pack),Automatic (A1),Rear-Wheel Drive,Electricity,0.0,NaN
30973,2016,Tesla,Model S AWD - 60D,Automatic (A1),All-Wheel Drive,Electricity,0.0,NaN
30974,2016,Tesla,Model S AWD - P100D,Automatic (A1),All-Wheel Drive,Electricity,0.0,NaN
30975,2016,Tesla,Model X AWD - 60D,Automatic (A1),All-Wheel Drive,Electricity,0.0,NaN

In [22]:
df.loc[(df["cylinders"] == 0) & (df["displ"] != 0), "cylinders"] = 4 # check again

## 2. Information contained in the columns
       (Cardinality of columns)

In [23]:
df["barrels08"].head()

0    15.695714
1    29.964545
2    12.207778
3    29.964545
4    17.347895
Name: barrels08, dtype: float64

In [24]:
min(df["barrels08"])

0.06000000000000001

In [25]:
np.percentile(df["barrels08"],90)

23.543571428571425

In [27]:
def detect_low_variance(df, column, perc):
    min_value = df[column].min()
    perc_value = np.percentile(df[column], perc)
    return min_value == perc_value

In [28]:
detect_low_variance(df, "barrels08", 90)

False

In [34]:
df.select_dtypes(include = [np.number]).columns # display the columns

Index(['barrels08', 'barrelsA08', 'charge120', 'charge240', 'city08',
       'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2',
       'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08', 'comb08U',
       'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'cylinders',
       'displ', 'engId', 'feScore', 'fuelCost08', 'fuelCostA08', 'ghgScore',
       'ghgScoreA', 'highway08', 'highway08U', 'highwayA08', 'highwayA08U',
       'highwayCD', 'highwayE', 'highwayUF', 'hlv', 'hpv', 'id', 'lv2', 'lv4',
       'pv2', 'pv4', 'range', 'rangeCity', 'rangeCityA', 'rangeHwy',
       'rangeHwyA', 'UCity', 'UCityA', 'UHighway', 'UHighwayA', 'year',
       'youSaveSpend', 'charge240b', 'phevCity', 'phevHwy', 'phevComb'],
      dtype='object')

In [32]:
low_variance = [col for col in df.select_dtypes(include = [np.number]).columns if detect_low_variance(df,col,90)]

In [33]:
df.drop(low_variance, axis = 1)

,barrels08,city08,city08U,co2,co2TailpipeGpm,comb08,comb08U,cylinders,displ,drive,...,pv2,pv4,trany,UCity,UHighway,VClass,year,youSaveSpend,createdOn,modifiedOn
0,15.695714,19,0.0,-1,423.190476,21,0.0,4.0,2.0,Rear-Wheel Drive,...,0,0,Manual 5-spd,23.3333,35.0000,Two Seaters,1985,-1250,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
1,29.964545,9,0.0,-1,807.909091,11,0.0,12.0,4.9,Rear-Wheel Drive,...,0,0,Manual 5-spd,11.0000,19.0000,Two Seaters,1985,-8500,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
2,12.207778,23,0.0,-1,329.148148,27,0.0,4.0,2.2,Front-Wheel Drive,...,0,0,Manual 5-spd,29.0000,47.0000,Subcompact Cars,1985,500,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
3,29.964545,10,0.0,-1,807.909091,11,0.0,8.0,5.2,Rear-Wheel Drive,...,0,0,Automatic 3-spd,12.2222,16.6667,Vans,1985,-8500,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
4,17.347895,17,0.0,-1,467.736842,19,0.0,4.0,2.2,4-Wheel or All-Wheel Drive,...,0,90,Manual 5-spd,21.0000,32.0000,Compact Cars,1993,-4000,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37838,14.982273,19,0.0,-1,403.954545,22,0.0,4.0,2.2,Front-Wheel Drive,...,0,90,Automatic 4-spd,24.0000,37.0000,Compact Cars,1993,-750,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
37839,14.330870,20,0.0,-1,386.391304,23,0.0,4.0,2.2,Front-Wheel Drive,...,0,90,Manual 5-spd,25.0000,39.0000,Compact Cars,1993,-500,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
37840,15.695714,18,0.0,-1,423.190476,21,0.0,4.0,2.2,4-Wheel or All-Wheel Drive,...,0,90,Automatic 4-spd,23.0000,34.0000,Compact Cars,1993,-1250,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
37841,15.695714,18,0.0,-1,423.190476,21,0.0,4.0,2.2,4-Wheel or All-Wheel Drive,...,0,90,Manual 5-spd,23.0000,34.0000,Compact Cars,1993,-1250,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
37842,18.311667,16,0.0,-1,493.722222,18,0.0,4.0,2.2,4-Wheel or All-Wheel Drive,...,0,90,Automatic 4-spd,20.0000,29.0000,Compact Cars,1993,-4500,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013

## 3. Outliers

Using IQR

In [39]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
barrels08,37843.0,17.532506,4.575950,0.06,14.33087,17.347895,20.600625,47.087143
barrelsA08,37843.0,0.216169,1.141527,0.00,0.00000,0.000000,0.000000,18.311667
charge120,37843.0,0.000000,0.000000,0.00,0.00000,0.000000,0.000000,0.000000
charge240,37843.0,0.023531,0.427647,0.00,0.00000,0.000000,0.000000,12.000000
city08,37843.0,17.941389,6.660360,6.00,15.00000,17.000000,20.000000,138.000000
city08U,37843.0,4.042737,9.645820,0.00,0.00000,0.000000,0.000000,138.304000
cityA08,37843.0,0.520149,3.837874,0.00,0.00000,0.000000,0.000000,127.000000
cityA08U,37843.0,0.327163,3.542596,0.00,0.00000,0.000000,0.000000,127.093000
cityCD,37843.0,0.000406,0.039918,0.00,0.00000,0.000000,0.000000,5.350000
cityE,37843.0,0.184790,2.904558,0.00,0.00000,0.000000,0.000000,122.000000
cityUF,37843.0,0.000706,0.019458,0.00,0.00000,0.000000,0.000000,0.849000
co2,37843.0,61.503713,153.387715,-1.00,-1.00000,-1.000000,-1.000000,847.000000
co2A,37843.0,5.349919,55.539497,-1.00,-1.00000,-1.000000,-1.000000,719.000000
co2TailpipeAGpm,37843.0,17.771433,94.129283,0.00,0.00000,0.000000,0.000000,719.000000
co2TailpipeGpm,37843.0,473.179736,122.188847,0.00,388.00000,467.736842,555.437500,1269.571429
comb08,37843.0,20.195809,6.623444,7.00,17.00000,19.000000,23.000000,124.000000
comb08U,37843.0,4.549751,10.389994,0.00,0.00000,0.000000,0.000000,124.360100
combA08,37843.0,0.581191,3.966255,0.00,0.00000,0.000000,0.000000,117.000000
combA08U,37843.0,0.359027,3.589260,0.00,0.00000,0.000000,0.000000,116.936400
combE,37843.0,0.190575,2.979567,0.00,0.00000,0.000000,0.000000,121.000000
combinedCD,37843.0,0.000335,0.035284,0.00,0.00000,0.000000,0.000000,4.800000
combinedUF,37843.0,0.000691,0.019049,0.00,0.00000,0.000000,0.000000,0.834000
cylinders,37843.0,5.732130,1.752192,0.00,4.00000,6.000000,6.000000,16.000000
displ,37723.0,3.318180,1.361399,0.00,2.20000,3.000000,4.300000,8.400000
engId,37843.0,8860.308961,17829.683477,0.00,0.00000,211.000000,4505.000000,69102.000000
feScore,37843.0,-0.035145,2.379584,-1.00,-1.00000,-1.000000,-1.000000,10.000000
fuelCost08,37843.0,1882.060090,510.280408,550.00,1500.00000,1850.000000,2200.000000,5800.000000
fuelCostA08,37843.0,79.070105,417.668580,0.00,0.00000,0.000000,0.000000,3800.000000
ghgScore,37843.0,-0.037206,2.374338,-1.00,-1.00000,-1.000000,-1.000000,10.000000
ghgScoreA,37843.0,-0.929630,0.627565,-1.00,-1.00000,-1.000000,-1.000000,8.000000
highway08,37843.0,24.104881,6.963192,9.00,20.00000,24.000000,27.000000,111.000000
highway08U,37843.0,5.438467,11.936327,0.00,0.00000,0.000000,0.000000,111.370000
highwayA08,37843.0,0.686891,4.308934,0.00,0.00000,0.000000,0.000000,107.000000
highwayA08U,37843.0,0.418698,3.808877,0.00,0.00000,0.000000,0.000000,106.531000
highwayCD,37843.0,0.000233,0.029564,0.00,0.00000,0.000000,0.000000,4.060000
highwayE,37843.0,0.198247,3.091862,0.00,0.00000,0.000000,0.000000,120.000000
highwayUF,37843.0,0.000673,0.018583,0.00,0.00000,0.000000,0.000000,0.813000
hlv,37843.0,2.026214,5.947989,0.00,0.00000,0.000000,0.000000,49.000000
hpv,37843.0,10.424332,28.148770,0.00,0.00000,0.000000,0.000000,195.000000
id,37843.0,19019.286235,11034.784855,1.00,9461.50000,18923.000000,28570.500000,38173.000000
lv2,37843.0,1.849219,4.429983,0.00,0.00000,0.000000,0.000000,41.000000
lv4,37843.0,6.165658,9.743297,0.00,0.00000,0.000000,13.000000,55.000000
pv2,37843.0,13.696113,31.269930,0.00,0.00000,0.000000,0.000000,194.000000
pv4,37843.0,33.769125,45.914462,0.00,0.00000,0.000000,91.000000,192.000000
range,37843.0,0.392675,8.251191,0.00,0.00000,0.000000,0.000000,315.000000
rangeCity,37843.0,0.352618,8.049082,0.00,0.00000,0.000000,0.000000,305.900000
rangeCityA,37843.0,0.036800,1.158270,0.00,0.00000,0.000000,0.000000,77.504000
rangeHwy,37843.0,0.343399,8.171939,0.00,0.00000,0.000000,0.000000,346.900000
rangeHwyA,37843.0,0.033475,1.032642,0.00,0.00000,0.000000,0.000000,65.632000
UCity,37843.0,22.587229,9.350163,0.00,18.00000,21.000000,25.139300,197.577100
UCityA,37843.0,0.652380,5.284547,0.00,0.00000,0.000000,0.000000,181.560900
UHighway,37843.0,33.619221,10.048326,0.00,27.10000,33.000000,38.109600,159.100000
UHighwayA,37843.0,0.933845,6.059456,0.00,0.00000,0.000000,0.000000,152.187800
year,37843.0,2000.064398,10.390588,1984.00,1990.00000,2001.000000,2009.000000,2017.000000
youSaveSpend,37843.0,-2658.999022,2553.098329,-22250.00,-4250.00000,-2500.000000,-750.000000,4000.000000
charge240b,37843.0,0.004360,0.142776,0.00,0.00000,0.000000,0.000000,7.000000
phevCity,37843.0,0.069313,1.966806,0.00,0.00000,0.000000,0.000000,97.000000
phevHwy,37843.0,0.068203,1.871986,0.00,0.00000,0.000000,0.000000,79.000000
phevComb,37843.0,0.068573,1.913647,0.00,0.00000,0.000000,0.000000,88.000000

In [36]:
df.describe().transpose()["25%"]

barrels08            14.33087
barrelsA08            0.00000
charge120             0.00000
charge240             0.00000
city08               15.00000
city08U               0.00000
cityA08               0.00000
cityA08U              0.00000
cityCD                0.00000
cityE                 0.00000
cityUF                0.00000
co2                  -1.00000
co2A                 -1.00000
co2TailpipeAGpm       0.00000
co2TailpipeGpm      388.00000
comb08               17.00000
comb08U               0.00000
combA08               0.00000
combA08U              0.00000
combE                 0.00000
combinedCD            0.00000
combinedUF            0.00000
cylinders             4.00000
displ                 2.20000
engId                 0.00000
feScore              -1.00000
fuelCost08         1500.00000
fuelCostA08           0.00000
ghgScore             -1.00000
ghgScoreA            -1.00000
highway08            20.00000
highway08U            0.00000
highwayA08            0.00000
highwayA08U           0.00000
highwayCD             0.00000
highwayE              0.00000
highwayUF             0.00000
hlv                   0.00000
hpv                   0.00000
id                 9461.50000
lv2                   0.00000
lv4                   0.00000
pv2                   0.00000
pv4                   0.00000
range                 0.00000
rangeCity             0.00000
rangeCityA            0.00000
rangeHwy              0.00000
rangeHwyA             0.00000
UCity                18.00000
UCityA                0.00000
UHighway             27.10000
UHighwayA             0.00000
year               1990.00000
youSaveSpend      -4250.00000
charge240b            0.00000
phevCity              0.00000
phevHwy               0.00000
phevComb              0.00000
Name: 25%, dtype: float64

In [41]:
df_desc = df.describe().transpose()
df_desc = df_desc.assign(IQR = df_desc["75%"] - df_desc["25%"])

In [42]:
df_desc

,count,mean,std,min,25%,50%,75%,max,IQR
barrels08,37843.0,17.532506,4.575950,0.06,14.33087,17.347895,20.600625,47.087143,6.269755
barrelsA08,37843.0,0.216169,1.141527,0.00,0.00000,0.000000,0.000000,18.311667,0.000000
charge120,37843.0,0.000000,0.000000,0.00,0.00000,0.000000,0.000000,0.000000,0.000000
charge240,37843.0,0.023531,0.427647,0.00,0.00000,0.000000,0.000000,12.000000,0.000000
city08,37843.0,17.941389,6.660360,6.00,15.00000,17.000000,20.000000,138.000000,5.000000
city08U,37843.0,4.042737,9.645820,0.00,0.00000,0.000000,0.000000,138.304000,0.000000
cityA08,37843.0,0.520149,3.837874,0.00,0.00000,0.000000,0.000000,127.000000,0.000000
cityA08U,37843.0,0.327163,3.542596,0.00,0.00000,0.000000,0.000000,127.093000,0.000000
cityCD,37843.0,0.000406,0.039918,0.00,0.00000,0.000000,0.000000,5.350000,0.000000
cityE,37843.0,0.184790,2.904558,0.00,0.00000,0.000000,0.000000,122.000000,0.000000
cityUF,37843.0,0.000706,0.019458,0.00,0.00000,0.000000,0.000000,0.849000,0.000000
co2,37843.0,61.503713,153.387715,-1.00,-1.00000,-1.000000,-1.000000,847.000000,0.000000
co2A,37843.0,5.349919,55.539497,-1.00,-1.00000,-1.000000,-1.000000,719.000000,0.000000
co2TailpipeAGpm,37843.0,17.771433,94.129283,0.00,0.00000,0.000000,0.000000,719.000000,0.000000
co2TailpipeGpm,37843.0,473.179736,122.188847,0.00,388.00000,467.736842,555.437500,1269.571429,167.437500
comb08,37843.0,20.195809,6.623444,7.00,17.00000,19.000000,23.000000,124.000000,6.000000
comb08U,37843.0,4.549751,10.389994,0.00,0.00000,0.000000,0.000000,124.360100,0.000000
combA08,37843.0,0.581191,3.966255,0.00,0.00000,0.000000,0.000000,117.000000,0.000000
combA08U,37843.0,0.359027,3.589260,0.00,0.00000,0.000000,0.000000,116.936400,0.000000
combE,37843.0,0.190575,2.979567,0.00,0.00000,0.000000,0.000000,121.000000,0.000000
combinedCD,37843.0,0.000335,0.035284,0.00,0.00000,0.000000,0.000000,4.800000,0.000000
combinedUF,37843.0,0.000691,0.019049,0.00,0.00000,0.000000,0.000000,0.834000,0.000000
cylinders,37843.0,5.732130,1.752192,0.00,4.00000,6.000000,6.000000,16.000000,2.000000
displ,37723.0,3.318180,1.361399,0.00,2.20000,3.000000,4.300000,8.400000,2.100000
engId,37843.0,8860.308961,17829.683477,0.00,0.00000,211.000000,4505.000000,69102.000000,4505.000000
feScore,37843.0,-0.035145,2.379584,-1.00,-1.00000,-1.000000,-1.000000,10.000000,0.000000
fuelCost08,37843.0,1882.060090,510.280408,550.00,1500.00000,1850.000000,2200.000000,5800.000000,700.000000
fuelCostA08,37843.0,79.070105,417.668580,0.00,0.00000,0.000000,0.000000,3800.000000,0.000000
ghgScore,37843.0,-0.037206,2.374338,-1.00,-1.00000,-1.000000,-1.000000,10.000000,0.000000
ghgScoreA,37843.0,-0.929630,0.627565,-1.00,-1.00000,-1.000000,-1.000000,8.000000,0.000000
highway08,37843.0,24.104881,6.963192,9.00,20.00000,24.000000,27.000000,111.000000,7.000000
highway08U,37843.0,5.438467,11.936327,0.00,0.00000,0.000000,0.000000,111.370000,0.000000
highwayA08,37843.0,0.686891,4.308934,0.00,0.00000,0.000000,0.000000,107.000000,0.000000
highwayA08U,37843.0,0.418698,3.808877,0.00,0.00000,0.000000,0.000000,106.531000,0.000000
highwayCD,37843.0,0.000233,0.029564,0.00,0.00000,0.000000,0.000000,4.060000,0.000000
highwayE,37843.0,0.198247,3.091862,0.00,0.00000,0.000000,0.000000,120.000000,0.000000
highwayUF,37843.0,0.000673,0.018583,0.00,0.00000,0.000000,0.000000,0.813000,0.000000
hlv,37843.0,2.026214,5.947989,0.00,0.00000,0.000000,0.000000,49.000000,0.000000
hpv,37843.0,10.424332,28.148770,0.00,0.00000,0.000000,0.000000,195.000000,0.000000
id,37843.0,19019.286235,11034.784855,1.00,9461.50000,18923.000000,28570.500000,38173.000000,19109.000000
lv2,37843.0,1.849219,4.429983,0.00,0.00000,0.000000,0.000000,41.000000,0.000000
lv4,37843.0,6.165658,9.743297,0.00,0.00000,0.000000,13.000000,55.000000,13.000000
pv2,37843.0,13.696113,31.269930,0.00,0.00000,0.000000,0.000000,194.000000,0.000000
pv4,37843.0,33.769125,45.914462,0.00,0.00000,0.000000,91.000000,192.000000,91.000000
range,37843.0,0.392675,8.251191,0.00,0.00000,0.000000,0.000000,315.000000,0.000000
rangeCity,37843.0,0.352618,8.049082,0.00,0.00000,0.000000,0.000000,305.900000,0.000000
rangeCityA,37843.0,0.036800,1.158270,0.00,0.00000,0.000000,0.000000,77.504000,0.000000
rangeHwy,37843.0,0.343399,8.171939,0.00,0.00000,0.000000,0.000000,346.900000,0.000000
rangeHwyA,37843.0,0.033475,1.032642,0.00,0.00000,0.000000,0.000000,65.632000,0.000000
UCity,37843.0,22.587229,9.350163,0.00,18.00000,21.000000,25.139300,197.577100,7.139300
UCityA,37843.0,0.652380,5.284547,0.00,0.00000,0.000000,0.000000,181.560900,0.000000
UHighway,37843.0,33.619221,10.048326,0.00,27.10000,33.000000,38.109600,159.100000,11.009600
UHighwayA,37843.0,0.933845,6.059456,0.00,0.00000,0.000000,0.000000,152.187800,0.000000
year,37843.0,2000.064398,10.390588,1984.00,1990.00000,2001.000000,2009.000000,2017.000000,19.000000
youSaveSpend,37843.0,-2658.999022,2553.098329,-22250.00,-4250.00000,-2500.000000,-750.000000,4000.000000,3500.000000
charge240b,37843.0,0.004360,0.142776,0.00,0.00000,0.000000,0.000000,7.000000,0.000000
phevCity,37843.0,0.069313,1.966806,0.00,0.00000,0.000000,0.000000,97.000000,0.000000
phevHwy,37843.0,0.068203,1.871986,0.00,0.00000,0.000000,0.000000,79.000000,0.000000
phevComb,37843.0,0.068573,1.913647,0.00,0.00000,0.000000,0.000000,88.000000,0.000000

In [44]:
df_desc.index

Index(['barrels08', 'barrelsA08', 'charge120', 'charge240', 'city08',
       'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2',
       'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08', 'comb08U',
       'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'cylinders',
       'displ', 'engId', 'feScore', 'fuelCost08', 'fuelCostA08', 'ghgScore',
       'ghgScoreA', 'highway08', 'highway08U', 'highwayA08', 'highwayA08U',
       'highwayCD', 'highwayE', 'highwayUF', 'hlv', 'hpv', 'id', 'lv2', 'lv4',
       'pv2', 'pv4', 'range', 'rangeCity', 'rangeCityA', 'rangeHwy',
       'rangeHwyA', 'UCity', 'UCityA', 'UHighway', 'UHighwayA', 'year',
       'youSaveSpend', 'charge240b', 'phevCity', 'phevHwy', 'phevComb'],
      dtype='object')

In [46]:
outliers = pd.DataFrame(columns = df.columns)
for col in df_desc.index:
    iqr = df_desc.loc[col, "IQR"]
    cutoff = iqr * 6
    lower_threshold = df_desc.loc[col, "25%"] - cutoff
    upper_threshold = df_desc.loc[col, "75%"] + cutoff
    results = df[(df[col] < lower_threshold) | (df[col] > upper_threshold)].copy()
    results = results.assign(outlier = col)
    outliers = pd.concat([outliers, results], ignore_index = True, sort = False)

In [47]:
outliers

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,VClass,year,youSaveSpend,charge240b,createdOn,modifiedOn,phevCity,phevHwy,phevComb,outlier
0,14.982273,0.093000,0.0,0.0,20,0.0000,18,0.0000,0.0,0.0,...,Subcompact Cars,2000,-750,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0,barrelsA08
1,16.480500,4.994000,0.0,0.0,17,0.0000,12,0.0000,0.0,0.0,...,Large Cars,2000,-1500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0,barrelsA08
2,16.480500,5.350714,0.0,0.0,17,0.0000,12,0.0000,0.0,0.0,...,Midsize Station Wagons,2000,-1500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0,barrelsA08
3,19.388824,6.242500,0.0,0.0,15,0.0000,11,0.0000,0.0,0.0,...,Standard Pickup Trucks 2WD,2000,-3000,0.0,Tue Jan 01 00:00:00 EST 2013,Mon May 05 00:00:00 EDT 2014,0,0,0,barrelsA08
4,18.311667,5.762308,0.0,0.0,16,0.0000,12,0.0000,0.0,0.0,...,Standard Pickup Trucks 2WD,2000,-2500,0.0,Tue Jan 01 00:00:00 EST 2013,Mon May 05 00:00:00 EDT 2014,0,0,0,barrelsA08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82387,9.535201,0.426000,0.0,3.0,21,20.8000,47,47.0475,0.0,71.0,...,Standard Sport Utility Vehicle 4WD,2017,-1500,0.0,Wed Jul 20 00:00:00 EDT 2016,Wed Jul 20 00:00:00 EDT 2016,25,29,27,phevComb
82388,8.009330,5.150156,0.0,3.0,25,24.8563,62,62.0000,0.0,53.0,...,Large Cars,2017,0,0.0,Wed Aug 17 00:00:00 EDT 2016,Thu Aug 25 00:00:00 EDT 2016,31,37,33,phevComb
82389,3.880578,3.329394,0.0,2.7,38,37.8163,99,99.1000,0.0,34.0,...,Midsize Cars,2017,3000,0.0,Wed Aug 17 00:00:00 EDT 2016,Wed Aug 17 00:00:00 EDT 2016,57,59,58,phevComb
82390,7.071000,4.642394,0.0,2.0,28,27.7708,66,66.0249,0.0,51.0,...,Compact Cars,2017,750,0.0,Thu Aug 25 00:00:00 EDT 2016,Thu Aug 25 00:00:00 EDT 2016,34,43,38,phevComb
82391,9.179989,5.885893,0.0,3.0,23,22.9620,55,55.0380,0.0,62.0,...,Standard Sport Utility Vehicle 4WD,2017,-750,0.0,Tue Sep 13 00:00:00 EDT 2016,Tue Sep 13 00:00:00 EDT 2016,28,31,29,phevComb

In [48]:
# count how many outliers
outliers.groupby("outlier")["outlier"].count()

outlier
UCity               141
UCityA             1362
UHighway             91
UHighwayA          1362
barrelsA08         1408
charge240           152
charge240b           36
city08              130
city08U            7299
cityA08            1408
cityA08U            740
cityCD               12
cityE               175
cityUF               55
co2                5854
co2A                525
co2TailpipeAGpm    1353
comb08              106
comb08U            7299
combA08            1408
combA08U            740
combE               175
combinedCD           15
combinedUF           55
engId              4893
feScore            5815
fuelCostA08        1372
ghgScore           5815
ghgScoreA           518
highway08            92
highway08U         7299
highwayA08         1408
highwayA08U         740
highwayCD            10
highwayE            175
highwayUF            55
hlv                4615
hpv                4614
lv2                6250
phevCity             55
phevComb             55
phevHwy              55
pv2                6239
range               120
rangeCity            93
rangeCityA           55
rangeHwy             93
rangeHwyA            55
Name: outlier, dtype: int64

In [50]:
# second option
outliers["outlier"].value_counts()

comb08U            7299
city08U            7299
highway08U         7299
lv2                6250
pv2                6239
co2                5854
ghgScore           5815
feScore            5815
engId              4893
hlv                4615
hpv                4614
barrelsA08         1408
highwayA08         1408
combA08            1408
cityA08            1408
fuelCostA08        1372
UCityA             1362
UHighwayA          1362
co2TailpipeAGpm    1353
highwayA08U         740
combA08U            740
cityA08U            740
co2A                525
ghgScoreA           518
cityE               175
combE               175
highwayE            175
charge240           152
UCity               141
city08              130
range               120
comb08              106
rangeHwy             93
rangeCity            93
highway08            92
UHighway             91
rangeHwyA            55
highwayUF            55
rangeCityA           55
phevComb             55
phevCity             55
cityUF               55
phevHwy              55
combinedUF           55
charge240b           36
combinedCD           15
cityCD               12
highwayCD            10
Name: outlier, dtype: int64

In [52]:
p = "25%"
df_desc[p]

barrels08            14.33087
barrelsA08            0.00000
charge120             0.00000
charge240             0.00000
city08               15.00000
city08U               0.00000
cityA08               0.00000
cityA08U              0.00000
cityCD                0.00000
cityE                 0.00000
cityUF                0.00000
co2                  -1.00000
co2A                 -1.00000
co2TailpipeAGpm       0.00000
co2TailpipeGpm      388.00000
comb08               17.00000
comb08U               0.00000
combA08               0.00000
combA08U              0.00000
combE                 0.00000
combinedCD            0.00000
combinedUF            0.00000
cylinders             4.00000
displ                 2.20000
engId                 0.00000
feScore              -1.00000
fuelCost08         1500.00000
fuelCostA08           0.00000
ghgScore             -1.00000
ghgScoreA            -1.00000
highway08            20.00000
highway08U            0.00000
highwayA08            0.00000
highwayA08U           0.00000
highwayCD             0.00000
highwayE              0.00000
highwayUF             0.00000
hlv                   0.00000
hpv                   0.00000
id                 9461.50000
lv2                   0.00000
lv4                   0.00000
pv2                   0.00000
pv4                   0.00000
range                 0.00000
rangeCity             0.00000
rangeCityA            0.00000
rangeHwy              0.00000
rangeHwyA             0.00000
UCity                18.00000
UCityA                0.00000
UHighway             27.10000
UHighwayA             0.00000
year               1990.00000
youSaveSpend      -4250.00000
charge240b            0.00000
phevCity              0.00000
phevHwy               0.00000
phevComb              0.00000
Name: 25%, dtype: float64

In [54]:
df["trany"].value_counts()

Automatic 4-spd                     11042
Manual 5-spd                         8311
Automatic 3-spd                      3151
Automatic (S6)                       2638
Manual 6-spd                         2429
Automatic 5-spd                      2184
Manual 4-spd                         1483
Automatic 6-spd                      1432
Automatic (S8)                        960
Automatic (S5)                        824
Automatic (variable gear ratios)      681
Automatic 7-spd                       663
Automatic (S7)                        261
Auto(AM-S7)                           256
Automatic 8-spd                       243
Automatic (S4)                        233
Auto(AM7)                             160
Auto(AV-S6)                           145
Auto(AM6)                             110
Automatic (A1)                        109
Auto(AM-S6)                            92
Automatic 9-spd                        90
Manual 3-spd                           77
Manual 7-spd                           68
Auto(AV-S7)                            63
Automatic (S9)                         26
Auto(AV-S8)                            26
Manual 4-spd Doubled                   17
Auto(AM5)                              12
Automatic (AV-S6)                       9
Auto(AM-S8)                             6
Auto(AM8)                               5
Automatic (AV)                          4
Automatic (A6)                          4
Manual(M7)                              3
Automatic (AM5)                         2
Auto(L4)                                2
Auto(L3)                                2
Auto (AV)                               2
Auto(A1)                                1
Automatic 6spd                          1
Auto (AV-S8)                            1
Auto (AV-S6)                            1
Auto(AM-S9)                             1
Automatic (AM6)                         1
Manual 5 spd                            1
Name: trany, dtype: int64

In [55]:
df_trany = df["trany"].copy()

In [59]:
to_replace = {"Automatic":"Auto",
             "Auto\(": "Auto ",
             "Manual\(":"Manual ",
             "-":"",
             "\(":"",
             "\)":""}
for pat, repl in to_replace.items():
    df_trany = df_trany.str.replace(pat, repl)

df["trany"].value_counts()

Automatic 4-spd                     11042
Manual 5-spd                         8311
Automatic 3-spd                      3151
Automatic (S6)                       2638
Manual 6-spd                         2429
Automatic 5-spd                      2184
Manual 4-spd                         1483
Automatic 6-spd                      1432
Automatic (S8)                        960
Automatic (S5)                        824
Automatic (variable gear ratios)      681
Automatic 7-spd                       663
Automatic (S7)                        261
Auto(AM-S7)                           256
Automatic 8-spd                       243
Automatic (S4)                        233
Auto(AM7)                             160
Auto(AV-S6)                           145
Auto(AM6)                             110
Automatic (A1)                        109
Auto(AM-S6)                            92
Automatic 9-spd                        90
Manual 3-spd                           77
Manual 7-spd                           68
Auto(AV-S7)                            63
Automatic (S9)                         26
Auto(AV-S8)                            26
Manual 4-spd Doubled                   17
Auto(AM5)                              12
Automatic (AV-S6)                       9
Auto(AM-S8)                             6
Auto(AM8)                               5
Automatic (AV)                          4
Automatic (A6)                          4
Manual(M7)                              3
Automatic (AM5)                         2
Auto(L4)                                2
Auto(L3)                                2
Auto (AV)                               2
Auto(A1)                                1
Automatic 6spd                          1
Auto (AV-S8)                            1
Auto (AV-S6)                            1
Auto(AM-S9)                             1
Automatic (AM6)                         1
Manual 5 spd                            1
Name: trany, dtype: int64

## 6. Drop duplicates

In [60]:
before = len(df)
df.drop_duplicates()
after = len(df)
print(f'{before - after} rows dropped')

0 rows dropped

In [61]:
df_copy = df.copy()

In [62]:
select_columns = ["make", "model", "year", "displ", "cylinders", "trany", "drive", "VClass", "fuelType",
                  "barrels08", "city08", "highway08", "comb08", "co2TailpipeGpm", "fuelCost08"]

In [63]:
df_copy = df_copy.drop_duplicates(select_columns)
after = len(df_copy)
print(f'This time, {before - after} rows dropped')

This time, 885 rows dropped

In [ ]:
def check_drop_duplicates(#. a dataframe, # a list of columns in that dataframe):
    #1. create a copy of the data frame
    #2. drop the duplicate rows from that copy given the list
    #3. tell user how many rows would get dropped and ask if i should proceed
        #4.1 if yes, drop the rows on df (inplace)
        #4.2 if no, do not drop, but then ask user if i should return the rows that would get dropped
            #5.1 if no, exit
            #5.2 if yes, retrieve the rows that would get dropped, and return them as a DataFrame

In [66]:
def check_drop_duplicates(df, cols):
    
    #1. create a copy of the data frame
    
    copy = df.copy()
    
    #2. drop the duplicate rows from that copy given the list
    
    copy = copy.drop_duplicates(cols) # this could be done in one step
    
    #3. tell user how many rows would get dropped and ask if i should proceed
    
    before = len(df)
    after = len(copy)
    drop_choice = None
    while drop_choice not in ["y","n"]:
        drop_choice = input(f'{before-after} duplicated rows identified. Do u want me to drop them? (y/n)')
    
        #4.1 if yes, drop the rows on df (inplace)
        
    if drop_choice == "y":    
        df.drop_duplicates(cols, inplace = True)
        return
    
        #4.2 if no, do not drop, but then ask user if i should return the rows that would get dropped
    print('Aborting')
    return_choice = None
    while return_choice not in ["y","n"]:
        return_choice = input('Do u want to get the rows, that is going to be dropped? (y/n)')
    
    if return_choice == "y":
        return df.loc[list(set(df.index) - set(copy.index))]
            #5.1 if no, exit
            #5.2 if yes, retrieve the rows that would get dropped, and return them as a DataFrame

In [68]:
check_drop_duplicates(df, select_columns)

885 duplicated rows identified. Do u want me to drop them? (y/n)y

In [69]:
check_drop_duplicates(df, select_columns)

0 duplicated rows identified. Do u want me to drop them? (y/n)y