In [1]:
import pandas as pd
import numpy as np

In [2]:
index_adj = ['A','B','C','D']

In [3]:
data = { 'A':[999, 0, 20, 7],
         'B':[7, 999, 0, 24],
         'C':[27, 0, 999, 35],
         'D':[0, 17, 28, 999]}

In [4]:
df = pd.DataFrame(data, index = index_adj)

In [5]:
df

     A    B    C    D
A  999    7   27    0
B    0  999    0   17
C   20    0  999   28
D    7   24   35  999

In [6]:
df['A'].min()

0

In [12]:
for index, row in df.iterrows(): 
    if 0 in row:
        print(row)

In [8]:
df

     A    B    C    D
A  999    7   27    0
B    0  999    0   17
C   20    0  999   28
D    7   24   35  999

In [9]:
for rows, columns in df.iteritems():
    if 0 in rows:
        
    print(min(rows))
    print(min(columns))

IndentationError: expected an indented block (<ipython-input-9-821d73d685b5>, line 4)