#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [3]:
import pymysql
import sqlalchemy

In [4]:
## password
import getpass
pw = getpass.getpass()

········

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [5]:
conn = pymysql.connect(
    host = "localhost",
    port = 3306,
    user = "root",
    passwd = pw,
    db = "users")

#### 4. Import the users table

In [9]:
users = pd.read_sql("SELECT * FROM userss;", conn)
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",1145,662,5,54503,35.0,None

#### 5. Rename Id column to userId

In [11]:
users_adj = users.rename(columns = {'Id':'userId'})
users_adj.head()

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",1145,662,5,54503,35.0,None

In [13]:
conn = pymysql.connect(
    host = "localhost",
    port = 3306,
    user = "root",
    passwd = pw,
    db = "posts")

#### 6. Import the posts table.

In [14]:
posts = pd.read_sql("SELECT * FROM posts;", conn)
posts.head()

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,OwnerUserId,LasActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,8.0,2010-09-15 21:08:26,Eliciting priors from experts,<bayesian><prior><elicitation>,5.0,1,14.0,NaN,None,None,NaN,None,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,24.0,2012-11-12 09:21:54,What is normality?,<distributions><normality>,7.0,1,8.0,88.0,2010-08-07 17:56:44,None,NaN,None,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,<software><open-source>,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,None,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,<distributions><statistical-significance>,5.0,2,2.0,NaN,None,None,NaN,None,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,23.0,2010-07-19 19:21:15,None,None,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,None,None,None

#### 7. Rename Id column to postId and OwnerUserId to userId

In [16]:
posts_adj = posts.rename(columns = {'Id':'postId','OwnerUserId':'userId'})
posts_adj.head()

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,userId,LasActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,8.0,2010-09-15 21:08:26,Eliciting priors from experts,<bayesian><prior><elicitation>,5.0,1,14.0,NaN,None,None,NaN,None,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,24.0,2012-11-12 09:21:54,What is normality?,<distributions><normality>,7.0,1,8.0,88.0,2010-08-07 17:56:44,None,NaN,None,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,<software><open-source>,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,None,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,<distributions><statistical-significance>,5.0,2,2.0,NaN,None,None,NaN,None,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,23.0,2010-07-19 19:21:15,None,None,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,None,None,None

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [19]:
user_new = users_adj[['userId','Reputation','Views','UpVotes','DownVotes']].copy()
posts_new = posts_adj[['postId','Score','userId','ViewCount','CommentCount']].copy()

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [22]:
frames = [user_new,posts_new]
final = pd.concat(frames, sort = False)
final.head()

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1.0,1.0,0.0,5007.0,1920.0,NaN,NaN,NaN,NaN
1,2.0,101.0,25.0,3.0,0.0,NaN,NaN,NaN,NaN
2,3.0,101.0,22.0,19.0,0.0,NaN,NaN,NaN,NaN
3,4.0,101.0,11.0,0.0,0.0,NaN,NaN,NaN,NaN
4,5.0,6792.0,1145.0,662.0,5.0,NaN,NaN,NaN,NaN

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [26]:
ok = final.fillna(0).astype(bool).sum(axis=1)

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [ ]:
already

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [28]:
fixed = pd.to_numeric(ok)
fixed.head()

0    4
1    4
2    4
3    3
4    5
dtype: int64

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.