# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
# Import your libraries:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function.

In [2]:
# Your code here:
from sklearn.datasets import load_diabetes

diabetes = load_diabetes()

Let's explore this variable by looking at the different attributes. Do this by looking at the `keys()` of this variable.

In [3]:
# Your code here:

diabetes.keys()

dict_keys(['target', 'data_filename', 'target_filename', 'data', 'DESCR', 'feature_names'])

The next step is to read the description of the dataset. Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable

In [4]:
# Your code here:
type(diabetes)

sklearn.utils.Bunch

In [5]:
diabetes.DESCR

'.. _diabetes_dataset:\n\nDiabetes dataset\n----------------\n\nTen baseline variables, age, sex, body mass index, average blood\npressure, and six blood serum measurements were obtained for each of n =\n442 diabetes patients, as well as the response of interest, a\nquantitative measure of disease progression one year after baseline.\n\n**Data Set Characteristics:**\n\n  :Number of Instances: 442\n\n  :Number of Attributes: First 10 columns are numeric predictive values\n\n  :Target: Column 11 is a quantitative measure of disease progression one year after baseline\n\n  :Attribute Information:\n      - Age\n      - Sex\n      - Body mass index\n      - Average blood pressure\n      - S1\n      - S2\n      - S3\n      - S4\n      - S5\n      - S6\n\nNote: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).\n\nSource URL:\nhttp://www4.stat.ncsu.edu/~boos/var.select/diabetes.html\n\nFor more information see:\nBradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.\n(http://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)'

What are the variables in this dataset according to the description? List them in the markdown cell below

#### Enter your answer here:

Now explore the data. Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). In the cell below find the shape of the numpy array contained in the data portion of the diabetes variable.

In [6]:
# Your code here:

diabetes.data.shape

(442, 10)

# Challenge 2 - Perform Supervised Learning on the Dataset

#### The data has already been split to predictor and response variables. The response variable is in the `target` portion of the variable. 

Given this information, let's apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset. In the cell below, import the linear regression class from sklearn.

In [7]:
# Your code here:

from sklearn import linear_model

Initialize the model in the variable `diabetes_model`

In [8]:
# Your code here:

diabetes_model = linear_model.LinearRegression()

In [9]:
diabetes_X_train = diabetes.data[:-20]
diabetes_X_test  = diabetes.data[-20:]
diabetes_y_train = diabetes.target[:-20]
diabetes_y_test  = diabetes.target[-20:]

In the cell below, fit the model and print the intercept and coefficients of the model.

In [10]:
# Your code here:

regression = diabetes_model.fit(diabetes_X_train, diabetes_y_train)

In [11]:
print(regression.coef_)

[  3.03499549e-01  -2.37639315e+02   5.10530605e+02   3.27736980e+02
  -8.14131709e+02   4.92814588e+02   1.02848452e+02   1.84606489e+02
   7.43519617e+02   7.60951722e+01]

In [12]:
print(regression.intercept_)

152.764306916

# Bonus Challenge 1 - Conduct a Hypothesis Test on the Model

Once we have generated a linear model, we can test each coefficient using a t-test to see whether the confidence interval for the variable contains zero. We can also perform an overall F test to check whether at least one coefficient is significantly different from zero. 

Refer to the resource in this [link](https://onlinecourses.science.psu.edu/stat501/node/297/) for more details and perform the t-tests for the model above. Additionally, interpret the results and list coefficients are significantly different from zero.


Hint: use the statsmodels package.

Your result should look similar to this:

![ols](../ols-results.png)

In [13]:
# Your code here:

# Challenge 3 - Peform Supervised Learning on a Pandas Dataframe

Now that we have looked at data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [14]:
# Your code here:

auto = pd.read_csv('auto-mpg.csv')

Look at the first 5 rows using the `head()` function:

In [15]:
# Your code here:

auto.head()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [16]:
# Your code here:

auto.dtypes

mpg             float64
cylinders         int64
displacement    float64
horse_power     float64
weight            int64
acceleration    float64
model_year        int64
car_name         object
dtype: object

What is the newest model year and the oldest model year?

In [17]:
# Your code here:

auto.describe()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

    newest is 82
    oldest is 70

Check the dataset for missing values and remove all rows containing at least one missing value.

In [18]:
# Your code here:

auto.isnull().sum()

mpg             0
cylinders       0
displacement    0
horse_power     6
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

In [19]:
auto.drop(['horse_power'], axis = 1, inplace = True)

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [20]:
# Your code here:

auto['cylinders'].value_counts()

4    204
8    103
6     84
3      4
5      3
Name: cylinders, dtype: int64

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

In [21]:
auto.drop(['car_name'], axis = 1, inplace = True)
auto

      mpg  cylinders  displacement  weight  acceleration  model_year
0    18.0          8         307.0    3504          12.0          70
1    15.0          8         350.0    3693          11.5          70
2    18.0          8         318.0    3436          11.0          70
3    16.0          8         304.0    3433          12.0          70
4    17.0          8         302.0    3449          10.5          70
..    ...        ...           ...     ...           ...         ...
393  27.0          4         140.0    2790          15.6          82
394  44.0          4          97.0    2130          24.6          82
395  32.0          4         135.0    2295          11.6          82
396  28.0          4         120.0    2625          18.6          82
397  31.0          4         119.0    2720          19.4          82

[398 rows x 6 columns]

In [22]:
# Import the necessary function

from sklearn.model_selection import train_test_split

In [23]:
# Your code here:

predictor_list = ['mpg']
response_list = ['cylinders','displacement','weight','acceleration','model_year']

train, test = train_test_split(auto, test_size=0.2, random_state=123)

train_y = train[predictor_list].reset_index(drop=True)
train_X = train[response_list].reset_index(drop=True)
test_y = test[predictor_list].reset_index(drop=True)
test_X = test[response_list].reset_index(drop=True)

In [24]:
train_X

     cylinders  displacement  weight  acceleration  model_year
0            8         351.0    4335          14.5          77
1            4          98.0    2051          17.0          77
2            8         454.0    4354           9.0          70
3            4          85.0    1945          16.8          77
4            4         140.0    2905          14.3          80
..         ...           ...     ...           ...         ...
313          8         350.0    4165          11.4          77
314          6         250.0    3278          18.0          73
315          4          86.0    2110          17.9          80
316          4         108.0    2245          16.9          82
317          6         200.0    3060          17.1          81

[318 rows x 5 columns]

In [25]:
train_y

      mpg
0    16.0
1    30.5
2    14.0
3    33.5
4    23.6
..    ...
313  15.5
314  16.0
315  46.6
316  34.0
317  20.2

[318 rows x 1 columns]

In [26]:
test_X

    cylinders  displacement  weight  acceleration  model_year
0           4         108.0    2391          15.5          74
1           8         383.0    4955          11.5          71
2           4         121.0    2868          15.5          73
3           4          97.0    1950          21.0          73
4           4          89.0    1925          14.0          79
..        ...           ...     ...           ...         ...
75          4         111.0    2155          14.8          77
76          6         250.0    3645          16.2          76
77          6         225.0    3465          16.6          81
78          6         258.0    3632          18.0          74
79          6         250.0    3158          19.5          75

[80 rows x 5 columns]

In [27]:
test_y

     mpg
0   26.0
1   12.0
2   19.0
3   26.0
4   31.9
..   ...
75  30.0
76  18.5
77  17.6
78  16.0
79  15.0

[80 rows x 1 columns]

Now we will the dataset that we processed and peform linear regression on this data to predict the mpg for each vehicle. Initialize the model in the cell below.

In [28]:
# Your code here:

from sklearn import linear_model

auto_model = linear_model.LinearRegression()
auto_model.fit(train_X, train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

Next, fit the model in the cell below.

In [29]:
# Your code here:

auto_model.intercept_

array([-14.73502495])

In [30]:
auto_model.coef_

array([[-0.26352507,  0.00773761, -0.00686933,  0.10493476,  0.74979752]])

# Challenge 3 - Evaluate the Model

the r squared score of a model tells us how much variation is explained by the model. In a typical dataset, most observations differ from the mean. When we create a model, we are trying to generate an equation that will tell us by how much each observation will differ from the mean. Obviously, the vast majority of models are not perfect. They can only predict some of the variation from the mean but not all of it. We attribute the rest of the difference between the actual value and the mean to random error. We would like random error to explain the as little as possible of the variation. This is why the r squared score is an important metric.

In the next cell, compute the r squared score of the model. Do this by first computing the predicted values and assign them to `y_pred`.

In [31]:
# Import the necessary function:

from sklearn.metrics import r2_score

In [32]:
# Your code here:

y_pred = auto_model.predict(train_X)
r2_score(train_y,y_pred)

0.80898748538417686

#### Our next step is to evaluate the model using the test data. We would like to ensure that our model is not overfitting the data. This means that our model will not be able to generalize well outside of the training data.

In the cell below, use the model to generate the predicted values for the training data and assign them to `y_test_pred`. Compute the r squared score for the test data by comparing the oberserved `y_test` data and the predicted `y_test_pred`.

In [42]:
# Your code here:

y_test_pred = auto_model.predict(test_X)
r2_score(test_y, y_test_pred)

0.80605420449122656

# Challenge 4 - Improve the Model Fit

While the most common way to improve the fit of a model is by using regularization, there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [43]:
# Your code here:

predictor_list = ['mpg']
response_list = ['cylinders','displacement','weight','acceleration','model_year']

train, test = train_test_split(auto, test_size=0.1, random_state=123)

y_train09 = train[predictor_list].reset_index(drop=True)
X_train09 = train[response_list].reset_index(drop=True)
y_test09 = test[predictor_list].reset_index(drop=True)
X_test09 = test[response_list].reset_index(drop=True)

Initialize a new model. Name this model `auto_model09`. Fit the model to the new sample data.

In [44]:
# Your code here:

auto_model09 = linear_model.LinearRegression()
auto_model09.fit(X_train09, y_train09)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

Compute the predicted values and r squared score for our new model and new sample data.

In [45]:
# Your code here:

y_pred09 = auto_model09.predict(X_train09)
r2_score(y_train09, y_pred09)

0.81149404491636068

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [46]:
# Your code here:

y_test_pred09 = auto_model09.predict(X_test09)
r2_score(y_test09, y_test_pred09)

0.78094765934892529

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [38]:
# Your code here:

Fit the model and print the ranking

In [39]:
# Your code here:

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [40]:
# Your code here:

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [41]:
# Your code here: