In [63]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go

pd.set_option('display.max_rows', 500)
%matplotlib inline
sns.set()
sns.set_style("ticks")

    france, italy and the usa
    wine-tasting (red, white)
    top-ranked(top-3) wine for each category from these countries
    word-frequency
    plotly, plotly - express

In [2]:
df1 = pd.read_csv('winemag-data-130k-v2.csv', encoding='latin1')

In [3]:
df2 = pd.read_csv('winemag-data_first150k.csv', encoding='latin1')

In [4]:
df = pd.concat([df1,df2],sort = False)

In [5]:
df = df.drop(['Unnamed: 0'], axis = 1)
df = df.drop_duplicates()

In [6]:
def grades(points):
    if points in range(80,83):
        return 0
    elif points in range(83,87):
        return 1
    elif points in range(87,90):
        return 2
    elif points in range(90,94):
        return 3
    elif points in range(94,98):
        return 4
    else:
        return 5
    
df['grade'] = df['points'].apply(grades)

In [7]:
df

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,grade
0,Italy,"Aromas include tropical fruit, broom, brimston...",VulkÃ Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin OâKeefe,@kerinokeefe,Nicosia 2013 VulkÃ Bianco (Etna),White Blend,Nicosia,2
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,2
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwineÂ,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,2
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,2
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwineÂ,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149635,US,A Syrah-Grenache blend that's dry and rustical...,Bungalow Red,84,15.0,California,Santa Barbara County,Central Coast,NaN,NaN,NaN,Syrah-Grenache,Casa Barranca,1
149636,Portugal,Oreo eaters will enjoy the aromas of this wine...,30-year old tawny,84,NaN,Port,NaN,NaN,NaN,NaN,NaN,Port,Casa Santa Eufemia,1
149637,US,"Outside of the vineyard, wines like this are w...",NaN,84,6.0,California,California,California Other,NaN,NaN,NaN,Merlot,Delicato,1
149638,Argentina,"Heavy and basic, with melon and pineapple arom...",NaN,84,9.0,Mendoza Province,Uco Valley,NaN,NaN,NaN,NaN,Sauvignon Blanc,Finca El Portillo,1
149639,Australia,"Smooth in the mouth, this Chard starts off wit...",NaN,84,8.0,Australia Other,South Eastern Australia,NaN,NaN,NaN,NaN,Chardonnay,Jacob's Creek,1

In [48]:
df['country'].value_counts()

US                        91001
France                    34812
Italy                     32790
Spain                     11559
Portugal                   8764
Chile                      7919
Argentina                  6991
Australia                  5349
Austria                    4993
Germany                    3521
New Zealand                3143
South Africa               2782
Greece                      973
Israel                      836
Canada                      375
Hungary                     268
Romania                     208
Bulgaria                    188
Uruguay                     150
Slovenia                    149
Croatia                     140
Turkey                      127
Mexico                      122
Georgia                     106
Moldova                     102
England                      72
Brazil                       63
Lebanon                      59
Morocco                      35
Cyprus                       25
Macedonia                    23
Ukraine                      19
Serbia                       18
Czech Republic               17
Peru                         16
India                        15
Switzerland                  10
Luxembourg                    8
Bosnia and Herzegovina        5
Egypt                         4
Lithuania                     4
Slovakia                      3
China                         3
Armenia                       2
Tunisia                       2
South Korea                   2
Albania                       1
Montenegro                    1
US-France                     1
Japan                         1
Name: country, dtype: int64

In [8]:
france = df[df['country'] == 'France'].reset_index(drop = True)

In [27]:
france

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,grade
0,France,This dry and restrained wine offers spice in p...,NaN,87,24.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Trimbach 2012 Gewurztraminer (Alsace),GewÃ¼rztraminer,Trimbach,2
1,France,This has great depth of flavor with its fresh ...,Les Natures,87,27.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Jean-Baptiste Adam 2012 Les Natures Pinot Gris...,Pinot Gris,Jean-Baptiste Adam,2
2,France,"This is a dry wine, very spicy, with a tight, ...",NaN,87,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Leon Beyer 2012 Gewurztraminer (Alsace),GewÃ¼rztraminer,Leon Beyer,2
3,France,Red cherry fruit comes laced with light tannin...,Nouveau,86,NaN,Beaujolais,Beaujolais-Villages,NaN,Roger Voss,@vossroger,Domaine de la Madone 2012 Nouveau (Beaujolais...,Gamay,Domaine de la Madone,1
4,France,"This is a festive wine, with soft, ripe fruit ...",Nouveau,86,9.0,Beaujolais,Beaujolais,NaN,Roger Voss,@vossroger,Henry Fessy 2012 Nouveau (Beaujolais),Gamay,Henry Fessy,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34807,France,"Solid, mainstream Riesling, combining apple an...",CuvÃ©e Henri,85,25.0,Alsace,Alsace,NaN,NaN,NaN,NaN,Riesling,Lucien Albrecht,1
34808,France,"Intriguingâbut strangeâstuff, with herbal-...",La Dame Wiebelsberg Grand Cru,85,38.0,Alsace,Alsace,NaN,NaN,NaN,NaN,Riesling,Marc Kreydenweiss,1
34809,France,This blending for the American market is softe...,NaN,84,19.0,Loire Valley,Sancerre,NaN,NaN,NaN,NaN,Sauvignon Blanc,Richard Bourgeois,1
34810,France,Opens with spice aromas that seem a bit unusua...,Andlau,84,21.0,Alsace,Alsace,NaN,NaN,NaN,NaN,Riesling,Marc Kreydenweiss,1
34811,France,Atypically light in body and reticent on the n...,NaN,84,15.0,Alsace,Alsace,NaN,NaN,NaN,NaN,GewÃ¼rztraminer,W. Gisselbrecht,1

In [9]:
us = df[df['country'] == 'US'].reset_index(drop = True)

In [28]:
us

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,grade
0,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwineÂ,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,2
1,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,2
2,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwineÂ,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,2
3,US,"Soft, supple plum envelopes an oaky structure ...",Mountain CuvÃ©e,87,19.0,California,Napa Valley,Napa,Virginie Boone,@vboone,Kirkland Signature 2011 Mountain CuvÃ©e Cabern...,Cabernet Sauvignon,Kirkland Signature,2
4,US,"Slightly reduced, this wine offers a chalky, t...",NaN,87,34.0,California,Alexander Valley,Sonoma,Virginie Boone,@vboone,Louis M. Martini 2012 Cabernet Sauvignon (Alex...,Cabernet Sauvignon,Louis M. Martini,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90996,US,"Half Merlot, with the rest Cabernet Sauvignon,...",Five-O,84,25.0,New York,North Fork of Long Island,Long Island,NaN,NaN,NaN,Red Blend,Martha Clara,1
90997,US,Tastes kind of soft and thick in jammy cherry ...,Crimson Creek,84,27.0,California,Napa Valley,Napa,NaN,NaN,NaN,Merlot,Pine Ridge,1
90998,US,"Mushroom and tomato are coated with spicy oak,...",NaN,84,40.0,New York,"The Hamptons, Long Island",Long Island,NaN,NaN,NaN,Cabernet Franc,WÃ¶lffer,1
90999,US,A Syrah-Grenache blend that's dry and rustical...,Bungalow Red,84,15.0,California,Santa Barbara County,Central Coast,NaN,NaN,NaN,Syrah-Grenache,Casa Barranca,1
91000,US,"Outside of the vineyard, wines like this are w...",NaN,84,6.0,California,California,California Other,NaN,NaN,NaN,Merlot,Delicato,1

In [49]:
italy = df[df['country'] == 'Italy'].reset_index(drop = True)

In [50]:
(len(us) + len(france) + len(italy)) / len(df)

0.7280744035732812

In [18]:
france['grade'].value_counts(normalize=True) * 100

3    35.516489
2    32.959899
1    23.058141
4     7.250373
0     1.019763
5     0.195335
Name: grade, dtype: float64

In [39]:
grades_france = france['grade'].value_counts().reset_index()
grades_france.columns = ['grade', 'count_fr']
grades_france['perc_fr'] = (grades_france['count_fr']/grades_france['count_fr'].sum()) * 100
grades_france

   grade  count_fr    perc_fr
0      3     12364  35.516489
1      2     11474  32.959899
2      1      8027  23.058141
3      4      2524   7.250373
4      0       355   1.019763
5      5        68   0.195335

In [15]:
us['grade'].value_counts()

3    29960
2    28616
1    24110
4     4634
0     3585
5       96
Name: grade, dtype: int64

In [38]:
grades_us = us['grade'].value_counts().reset_index()
grades_us.columns = ['grade', 'count_us']
grades_us['perc_us'] = (grades_us['count_us']/grades_us['count_us'].sum()) * 100
grades_us

   grade  count_us    perc_us
0      3     29960  32.922715
1      2     28616  31.445808
2      1     24110  26.494214
3      4      4634   5.092252
4      0      3585   3.939517
5      5        96   0.105493

In [40]:
grades_together = pd.merge(grades_france, grades_us, on = 'grade')

In [46]:
grades_final = grades_together.sort_values(by = 'grade', ascending=True).reset_index(drop=True)

In [47]:
grades_final

   grade  count_fr    perc_fr  count_us    perc_us
0      0       355   1.019763      3585   3.939517
1      1      8027  23.058141     24110  26.494214
2      2     11474  32.959899     28616  31.445808
3      3     12364  35.516489     29960  32.922715
4      4      2524   7.250373      4634   5.092252
5      5        68   0.195335        96   0.105493

In [51]:
italy['grade'].value_counts(normalize=True) * 100

2    43.266240
3    30.003050
1    21.857274
4     4.056115
0     0.667887
5     0.149436
Name: grade, dtype: float64

In [52]:
grades_it = italy['grade'].value_counts().reset_index()
grades_it.columns = ['grade', 'count_it']
grades_it['perc_it'] = (grades_it['count_it']/grades_it['count_it'].sum()) * 100
grades_it

   grade  count_it    perc_it
0      2     14187  43.266240
1      3      9838  30.003050
2      1      7167  21.857274
3      4      1330   4.056115
4      0       219   0.667887
5      5        49   0.149436

In [69]:
grades_all = df['grade'].value_counts().reset_index()
grades_all.columns = ['grade', 'count_all']
grades_all['perc_all'] = (grades_all['count_all']/grades_all['count_all'].sum()) * 100
grades_all

   grade  count_all   perc_all
0      2      74724  34.302398
1      3      67616  31.039437
2      1      58334  26.778492
3      4      10018   4.598809
4      0       6904   3.169313
5      5        243   0.111550

In [53]:
grades_final = pd.merge(grades_together, grades_it, on = 'grade').sort_values(by = 'grade', ascending=True).reset_index(drop=True)

In [54]:
grades_final

   grade  count_fr    perc_fr  count_us    perc_us  count_it    perc_it
0      0       355   1.019763      3585   3.939517       219   0.667887
1      1      8027  23.058141     24110  26.494214      7167  21.857274
2      2     11474  32.959899     28616  31.445808     14187  43.266240
3      3     12364  35.516489     29960  32.922715      9838  30.003050
4      4      2524   7.250373      4634   5.092252      1330   4.056115
5      5        68   0.195335        96   0.105493        49   0.149436

In [55]:
grades_final = grades_final[['grade', 'count_fr', 'count_it', 'count_us', 'perc_fr', 'perc_it', 'perc_us']]

In [56]:
grades_final

   grade  count_fr  count_it  count_us    perc_fr    perc_it    perc_us
0      0       355       219      3585   1.019763   0.667887   3.939517
1      1      8027      7167     24110  23.058141  21.857274  26.494214
2      2     11474     14187     28616  32.959899  43.266240  31.445808
3      3     12364      9838     29960  35.516489  30.003050  32.922715
4      4      2524      1330      4634   7.250373   4.056115   5.092252
5      5        68        49        96   0.195335   0.149436   0.105493

In [57]:
perc = grades_final[['grade', 'perc_fr', 'perc_it', 'perc_us']]

In [58]:
perc

   grade    perc_fr    perc_it    perc_us
0      0   1.019763   0.667887   3.939517
1      1  23.058141  21.857274  26.494214
2      2  32.959899  43.266240  31.445808
3      3  35.516489  30.003050  32.922715
4      4   7.250373   4.056115   5.092252
5      5   0.195335   0.149436   0.105493

In [67]:
x = perc['grade']
y0 = perc['perc_fr']
y1 = perc['perc_it']
y2 = perc['perc_us']

# Create traces
fig = go.Figure()
fig.add_trace(go.Scatter(x=x, y=y0,
                    mode='lines+markers',
                    name='France'))
fig.add_trace(go.Scatter(x=x, y=y1,
                    mode='lines+markers',
                    name='Italy'))
fig.add_trace(go.Scatter(x=x, y=y2,
                    mode='lines+markers', name='USA'))

# Edit the layout
fig.update_layout(title='Percentage of each grade compared to the total wine by each country',
                   xaxis_title='Grade',
                   yaxis_title='Percentage(%)')


fig.show()

In [91]:
grades_very_final = pd.merge(grades_final, grades_all, on = 'grade').sort_values(by = 'grade', ascending=True).reset_index(drop=True)
grades_very_final['div_fr'] = (grades_very_final['count_fr']/grades_very_final['count_all']) * 100
grades_very_final['div_it'] = (grades_very_final['count_it']/grades_very_final['count_all']) * 100
grades_very_final['div_us'] = (grades_very_final['count_us']/grades_very_final['count_all']) * 100
grades_very_final['sum'] = (grades_very_final['count_fr'] + grades_very_final['count_us'] + grades_very_final['count_it'])
grades_very_final['part'] = (grades_very_final['sum'] / grades_very_final['count_all']) * 100
grades_very_final

,grade,count_fr,count_it,count_us,perc_fr,perc_it,perc_us,count_all,perc_all,div_fr,div_it,div_us,sum,part
0,0,355,219,3585,1.019763,0.667887,3.939517,6904,3.169313,5.141947,3.172074,51.926419,4159,60.240440
1,1,8027,7167,24110,23.058141,21.857274,26.494214,58334,26.778492,13.760414,12.286145,41.330956,39304,67.377516
2,2,11474,14187,28616,32.959899,43.266240,31.445808,74724,34.302398,15.355174,18.985868,38.295594,54277,72.636636
3,3,12364,9838,29960,35.516489,30.003050,32.922715,67616,31.039437,18.285613,14.549811,44.309039,52162,77.144463
4,4,2524,1330,4634,7.250373,4.056115,5.092252,10018,4.598809,25.194650,13.276103,46.256738,8488,84.727491
5,5,68,49,96,0.195335,0.149436,0.105493,243,0.111550,27.983539,20.164609,39.506173,213,87.654321